.img-slider__caption-sub-header {
  color:#fff;
}
.img-slider__caption-header {
  color:#fff;
}
.card_pricing {
  box-shadow: none;
  background-color:#f9f9f9;
  border:none;
}

.intro_text {
  text-align:center;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;

}

.big-icon-text-btn__link::after {
  content:none;
 
}

h4 {
  line-height: 1.3;
}
